<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Apartments Booking</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("../../Images/logo.png")" height="80" width="350" />
                </a>

            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Accommodations", "Accommodations", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Admin", "Admin", "Home")</li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body" style="background-color:#5098b4">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer style="font-size:15px; display:block">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="../../Content/templatemo_style.css" rel="stylesheet" type="text/css" />

        <div id="templatemo_footer_wrapper">

            <div id="templatemo_footer">

                <div class="section_w290">
                    Goce Delcev bb<br />
                    Ohrid<br />

                    bookapartmentohrid@booking.com

                </div>

                <div class="section_w470">

                    <ul class="footer_menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Accommodations", "Accommodations", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Admin", "Admin", "Home")</li>
                        }
                    </ul>

                    Copyright © 2015 <a href="#">Apartment Booking</a> <!-- Credit: www.templatemo.com --><br />
                </div>

                <div class="cleaner"></div>
            </div> <!-- end of footer -->
        </div> <!-- end of footer wrapper -->
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>




